## Directorios de salida de compilación
bin/
obj/

## Carpetas de herramientas (VS, VS Code, Rider)
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

## Archivos de base de datos (SQLite)
*.db
*.db-shm
*.db-wal

## Otros
notes/
.env